body {
  background-color: lightgrey;
}
.heading {
  text-align: center;
}
.list-card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
}
.card {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0.25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  background-color: white;
  height: 300px;

  transition: 150ms;
  cursor: pointer;
}
